body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url("../images/bg.png");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;

    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #000000;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15
}

.button.disabled,
.button:disabled {
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
}



/*Сетка*/

html,
body {
    min-width: auto;
    min-height: auto;
}

.container {
    width: 940px;
    margin: 0px auto;
    padding: 0 10px;
}

body {
    background-size: auto auto;
}

.main-header {
    margin-bottom: 75px;

}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: transparent;
}

.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;
}

.site-navigation {
    width: 620px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.user-navigation {
    width: 140px;
    display: flex;
    margin: 0;
    padding: 0;


    list-style: none;
}

.site-navigation a,
.user-navigation a {
    display: flex;

    padding: 25px 20px;

    vertical-align: middle;
    color: #ffffff;
}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.user-navigation .login-link {
    padding-left: 50px;
    position: relative;
}

.login-link::before {
    content: "";

    position: absolute;
    top: 27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url(../svg/login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
    opacity: 1;
}



.features-list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;
    justify-content: space-between
}

.feature-item {
    width: 300px
}

.features {
    margin-bottom: 80px;
}


.news {
    width: auto;
}

.gallery {
    width: auto;
}

.gallery-container {
    position: relative;
    height: 260px;
}


.gallery-photo {
    height: 164px;
    margin: 0;
}

.gallery-photo img {
    width: 286px;
    height: 164px;
}

.gallery-button {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;

    width: 140px;
    margin: 0;
}

.gallery-button-back {
    left: 0;
}

.gallery-button-next {
    right: 0;
}

.contacts {
    width: auto;
}

.contacts p {
    margin: 0;
    margin-bottom: 25px;
}

.appointment {
    width: 300px;
}

.appointment-info {
    margin: 0;
    margin-bottom: 15px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.appointment-item {
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.appointment-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.appointment-item input {
    box-sizing: border-box;
    width: 140px;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 7px;
}

.appointment-item input:focus {
    border-color: #663d15;
}

.appointment .button {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
}

.main-footer {
    padding: 60px 0;
    margin-top: 65px;
}

.main-footer .container {
    display: flex;
}

.footer-contacts {
    width: 320px;
    margin-right: 80px;
}

.footer-social {
    width: 145px;

}

.footer-social b {
    display: block;
    margin-bottom: 15px;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 141px;
    list-style: none;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 43px;
    height: 43px;
    margin-bottom: 10px;

    background-color: #000000
}

.social-button:hover,
.social-button:focus {
    background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
    fill: #000000;
}


.footer-copyright {
    width: 150px;
    margin: 0;
    margin-left: auto;
    text-align: center;
}

.footer-copyright b {
    display: block;
    margin-bottom: 15px;
}

.footer-copyright .button {
    display: block;
    margin-right: 0;
}



/*Сетка*/





.main-navigation {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;

    background-color: transparent;
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}


.feature-item {
    text-align: center;
}

.feature-item h3 {
    margin: 0;
    margin-bottom: 60px;
    position: relative;

    font-size: 30px;
    line-height: 42px;
}

.feature-item h3:after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 20px;
    height: 20px;
    margin-left: -10px;

    background-color: #ffffff;

    transform: rotate(45deg);
}

.feature-item p {
    margin: 0 10px;
}


.index-columns {
    display: flex;
    justify-content: space-between;
    
    padding: 50px 80px;
    margin-bottom: 35px;

    color: #000000;

    background-color: #f8f5f2;
    background-image:
    url(../images/line.png),
    url(../images/pattern-light.png);
    background-position: center, 0 0;
    background-repeat: no-repeat, repeat;

}


.index-columns h2 {
    margin: 0;
    margin-bottom: 25px;

    font-size: 30px;
    line-height: 42px;
}

.news-list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    
    list-style: none;
}

.news-item {
    margin-bottom: 25px;
}

.news-item p {
    margin: 0;
}

.news-item time {
    text-transform: none;
}

.gallery-photo {
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.appointment-item input {
    font: inherit;

    background-color: transparent;
    border: 2px solid #000000;
}

.appointment-item input:focus {
    border-color: royalblue;
}

.main-footer {
    color: #ffffff;

    background-color: #212121;
    background-image: url(../images/pattern-dark.png);
    background-position: 0 0;
    background-repeat: repeat;

}

.footer-contacts a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
    text-decoration: none;
}

.footer-social {
    text-align: center;
}

.footer-social ul {
    list-style: none;
}

.social-button {
    color: #ffffff;
}


.footer-copyright .button:hover,
.footer-copyright .button:focus {
    color: #000000;

    background-color: #ffffff;
}

.modal {
    position: fixed;

    color : #000000;

    background-color: #f8f3f0;
    background-image: url(../images/pattern-light.png);
    background-position: 0 0;
    background-repeat: repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-map {
    top: 50%;
    left: 50%;

    display: none;

    width: 766px;
    height: 561px;
    margin-top: -280px;
    margin-left: -390px;

    border: 7px solid white;
}

.modal-map p {
    margin: 0;
}

.modal-login {
    top: 20%;
    left: 50%;

    display: none;

    width : 300px;
    margin-left: -230px;
    padding: 50px 80px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: -34px;

    width : 22px;
    height : 22px;

    border: 0;
    background-color: transparent;

    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #d0d0d0;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-login h2 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 42px;
}

.modal-description {
    margin: 0;
    margin-bottom: 10px;
}

.login-form p {
    margin: 0;
    margin-bottom: 10px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    padding-right: 40px;
    
    font: inherit;
    color: #000000;
    text-transform: inherit;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}

.login-form input:focus {
    border-color: #663d15;
}

.login-checkbox:hover
.login-checkbox:focus {
    color: #663d15
}

.login-icon-user {
    background-image: url(../svg/user.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-icon-password {
    background-image: url(../svg/lock.svg);
    background-position: 270px center;
    background-repeat: no-repeat;
}

.login-checkbox {
    position: relative;

    padding-left: 30px;

    cursor: pointer;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 17px;
    height: 17px;

    border: 2px solid #000000
}

.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 1px;

    width: 15px;
    height: 2px;

    background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg)
}

.form-login .button {
    width: 100%;
    margin-right: 0;
}

.login-password-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 15px 0;
}

.restore {
    color: #000000;
    text-decoration: underline;
}

.restore:hover,
.restore:focus {
    text-decoration: none;
}