.menu-primary {
    display: none;
}

.menu-primary-opener {
    display: none;
}

.menu-primary-popup {

    display: none;

    position: fixed;
    right: 10px;
    top: 10px;
    width: 30%;
    height: auto;

    background-color: #FFFFFF;
    border: 2px solid #616B7F;
    border-radius: 15px;
    z-index: 99;
}

.menu-primary-popup ul {
    list-style: none;
}

.menu-primary-popup li {
    padding: 10px 0;
}

.menu-primary-popup a {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #616B7F;
}

.menu-primary-popup-closer {
    display: block;

    position: relative;
    top: 10px;
    left: 85%;

    width: 30px;
    height: 30px;

    background-image: url(../Images/closer-menu.png);
    background-size: 30px 30px;
    background-repeat: no-repeat;
}

.menu-primary-show {
    display: block;
}

@media screen and (max-width: 1000px) {
    .common-container {
        margin-left: 80px;
    }

    .main-navigation,
    .nav2 {
        display: none;
    }
    

    .menu-primary-show {
        display: block;
    }

    .menu-primary {
        padding-top: 20px;
        margin-left: 80px;
        margin-right: 32px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-primary div a {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #616B7F;
    }
    

    .menu-primary div {
        display: flex;
        align-items: center;
    }

    .menu-primary-opener {
        margin-left: 10px;

        display: block;
        width: 30px;
        height: 30px;

        position: relative;

        background-image: url(../Images/menu-opener.png);
        background-size: 30px 30px;
        background-repeat: no-repeat;
    }

    .main-img {
        display: none;
    }
    

}


@media screen and (max-width: 800px) {
    .common-container {
        margin-left: 80px;
    }

    .container4 {
        flex-direction: column;
    }

    .forms {
        margin: 0 30px;

        flex-direction: column;
    }

    .section-forms {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container-services-main {
        flex-direction: column;
    }

    .services-window {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container-goods-main {
        flex-direction: column;
    }

    .goods-window {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .container-information {
        flex-direction: column;
    }

    .container-articles-main {
        flex-direction: column;
    }

    .articles-window {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .questions {
        flex-direction: column;
    }

    .container-footer {
        flex-direction: column;
    }

    .services-head {
        display: none;
    }

    .user-login {
        display: none;
    }

    .services-head-2 {
        display: block;
    }
}


@media screen and (min-width: 1000px) {
    .menu-primary-popup {
        display: none;
    }
}