body {
    margin: 0;
    margin-left: 80px;
    margin-right: 80px;
    padding: 0;

    font-family: "Golos-Text", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}




.container a {
    color: #616B7F
}

.container {
    width: auto;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;

    line-height: 20px;
    font-weight: 400;
}

.site-navigation {
    padding: 0;
    margin-top: 8px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    list-style: none;
}

.site-navigation li {
    margin: 0 24px;
}

.add-navigation {
    display: flex;
    align-content: flex-end;

    padding: 0;
    margin-top: 8px;


    list-style: none;
}

.add-navigation li {
    margin: 0 24px;
}

.add-navigation .position-link {
    position: relative;
}

.position-link::before {
    content: "";

    position: absolute;
    left: -16.94;

    width: 8.94px;
    height: 8.94px;

    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}