@font-face { 
    font-family: "Golos-Text";
    src: url(../Fonts/Golos-Text_Regular.woff2) format("woff2")
}


body {
    width: auto;

    margin: 0;
    padding: 0;

    font-family: "Golos-Text", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;

    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}


/*Header*/

.container a {
    color: #616B7F;
    padding-bottom: 22px;
}

.container {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;

    display: flex;
    justify-content: space-between;

    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}

.site-navigation {
    margin: 0;
    margin-top: 22px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;

    list-style: none;
}

.site-navigation a {
    padding-bottom: 25px;
}

.site-navigation li {
    margin-right: 24px;
}

.add-navigation {
    margin: 0;
    margin-top: 22px;

    display: flex;
    align-content: flex-end;
    align-items: center;

    list-style: none;
}

.add-navigation li {
    margin-left: 24px;
}

.add-navigation .position-link {
    position: relative;
}

.position-link:before {
    content: "";

    position: absolute;
    left: -16.94;

    width: 8.94px;
    height: 8.94px;

    background-image: url(../images/Vector.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation a:hover,
.site-navigation a:focus,
.add-navigation a:hover,
.add-navigation a:focus {
    border-bottom: 2px solid #000000;
}

.main-header::after {
    content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        opacity: 0.15;
        
        background-color: #616B7F;
        background-repeat: no-repeat;

        margin-top: 20px;
}

/*Main*/

.nav2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400px;
    color: #616B7F;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 80px;
    margin-top: 32px;
    margin-left: 80px;
    margin-right: 80px;

}



.services-ul {
    display: flex;
    flex-wrap: wrap;

    list-style: none;
}

.services-ul li {
    margin-right: 32px;
}

.user-login-ul {
    list-style: none;
}

.container4 {
    display: flex;
    justify-content: space-between;
}


.slogan h0 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 800;

}

.slogan p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #616B7F;

    margin-top: 32px;
    margin-bottom: 64px;
}

.slogan a {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #F07100;
}

.main-img {

    position: relative;
    top: -80px;
}

.common-container {
    margin-left: 157px;
    margin-right: 112px;
}

.common-container::after {
    content: "";
        display: inline-block;
        width: 195.18px;
        height: 3px;
        
        background-image: url(../images/line2.png);
        background-repeat: repeat;

        margin-right: 11.93px;
        margin-bottom: 87.5px;
}

.forms {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
}

.form1 {
    min-width: 400px;
    height: 264px;
    border: 1px solid #DFE1E5;
    border-radius: 12px;
    margin-right: 33px;
}

.separator {
    margin-top: 54px;
}